<head>
	<meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン | チャット</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
	<%= stylesheet_link_tag "/assets/josh/bootstrap.min" %>
	<%= stylesheet_link_tag "/assets/josh/pages/login" %>
</head>

<body>
<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-sm-6 col-sm-offset-3  col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
			<div id="container_demo">
				<div id="wrapper">
					<div id="login" class="animate form">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<h3 class="black_bg">
								<%= image_tag("/assets/josh/logo.png") %>
								<br>Log In</h3>
							<div class="form-group ">
								<label style="margin-bottom:0;" for="admin_user_email" class="uname control-label"> <i class="livicon" data-name="mail" data-size="16" data-loop="true" data-c="#3c8dbc" data-hc="#3c8dbc"></i> E-mail
								</label>
								<input autofocus="autofocus" autocomplete="email" type="email" id="admin_user_email" name="admin_user[email]" placeholder="E-mail" value="" />
								<div class="col-sm-12">
								</div>
							</div>
							<div class="form-group ">
								<label style="margin-bottom:0;" for="password" class="youpasswd"> <i class="livicon" data-name="key" data-size="16" data-loop="true" data-c="#3c8dbc" data-hc="#3c8dbc"></i> Password
								</label>
								<input autocomplete="current-password" type="password" id="admin_user_password" name="admin_user[password]" placeholder="Password" />
								<div class="col-sm-12">
								</div>
							</div>
							<div class="form-group">
								<input name="admin_user[remember_me]" type="hidden" value="0">
								<input type="checkbox" value="1" name="admin_user[remember_me]" id="admin_user_remember_me">
								<label for="admin_user_remember_me">Remember me</label>
							</div>
							<p class="login button">
								<input type="submit" name="commit" value="Log In" data-disable-with="Log in" class="btn btn-success" />
							</p>
							<p class="change_link">
								<a href="/admin_users/password/new" class="btn btn-responsive botton-alignment btn-warning btn-sm">Forgot password
								</a>
								<a href="/admin_users/sign_up" id="signup" class="btn btn-responsive botton-alignment btn-success btn-sm pull-right">Sign Up
								</a>
							</p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "/assets/josh/app" %>
</body>